@{
    ViewData["Title"] = "Privacy Policy";
}

@{
    Layout = "~/Views/Shared/_LayoutDoctor.cshtml";
    var data = ViewBag.Medicine;
}


<form>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Patient Name</label>
            <input type="text" class="form-control" id="inputEmail4" readonly value="">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Doctor Name</label>
            <input type="text" class="form-control" id="inputPassword4" readonly value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">startDate</label>
            <input type="text" class="form-control" id="startDate" name="startDate" value="">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">endDate</label>
            <input type="text" class="form-control" id="endDate" name="endDate" readonly value="">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">instructions</label>
            <input type="text" class="form-control" id="instructions" name="instructions" readonly value="">
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">instructionsNotes</label>
            <input type="text" class="form-control" id="instructionsNotes" name="instructionsNotes" readonly value="">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>





<table class="table table-bordered table-dark" id="tblDataTable">
    <thead class="thead-light">
        <tr>
            <th scope="col">startDate</th>
            <th scope="col">endDate</th>
            <th scope="col">instructions</th>
            <th scope="col">instructionsNotes</th>
            <th scope="col">status</th>
            <th scope="col">dosage</th>
            <th scope="col">quantity</th>
            <th scope="col">route</th>
            <th scope="col">form</th>
            <th scope="col">frequency</th>
        </tr>
    </thead>
    <tbody>
        @if (@data.Medicine != null)
        {
            @foreach (var item in @data.Medicine)
            {
                <tr id="trData">
                    <td><span class="pd-AppoinmentDate">@item.StartDate</span></td>
                    <td><span class="pd-AppoinmentsStatus">@item.EndDate</span></td>
                    <td><span class="pd-AppoinmentDate">@item.Instructions</span></td>
                    <td><span class="pd-AppoinmentsStatus">@item.InstructionsNotes</span></td>
                    <td><span class="pd-AppoinmentDate">@item.Status</span></td>
                    <td><span class="pd-AppoinmentsStatus">@item.Dosage</span></td>
                    <td><span class="pd-AppoinmentDate">@item.Quantity</span></td>
                    <td><span class="pd-AppoinmentsStatus">@item.Route</span></td>
                    <td><span class="pd-AppoinmentDate">@item.Form</span></td>
                    <td><span class="pd-AppoinmentsStatus">@item.Frequency</span></td>
                </tr>
            }
        }
    </tbody>
</table>



