@using InterfaceWEBHealthcare.Models.StaticData;
@model List<Hospital>;
@{
    ViewData["Title"] = "Privacy Policy";
}

<center>
<h3>Find Best Hospital For Ensure Your Health</h3>
</center>
<script src="https://kit.fontawesome.com/7b9211943c.js" crossorigin="anonymous"></script>

@foreach (var item in Model)
{
    <div class="card text-white bg-info mb-sm-2" style="max-width:inherit">
        <div class="card-body">
            <div style="line-height:0.1">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td rowspan="6" style="padding-top: 20px;"> <img src="http://127.0.0.1:8887/profile.png" class="card-img-top" alt="..." width="80" height="187"></td>
                        </tr>
                        <tr>
                            <td class="bg-info">
                                <label class="text-white" for="exampleFormControlInput1"><i class="fas fa-clinic-medical"></i> Hospital Name : @item.HospitalName </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-info">
                                <label class="text-white" for="exampleFormControlInput1"><i class="far fa-address-card"></i> Hospital Adress : @item.HospitalAddress</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-info">
                                <label class="text-white" for="exampleFormControlInput1"><i class="fas fa-phone-square-alt"></i> Hospital Telephone Number : @item.TelephoneNumber</label>
                            </td>
                        </tr>
                        <tr>
                            <td class="bg-info">
                                <label class="text-white" for="exampleFormControlInput1"><i class="far fa-thumbs-up"></i> Positive Feedback Rate : @item.PositiveFeedbacks <span>%</span></label>
                            </td>
                        </tr>
                        <tr>
                            @*<td class="bg-info">
                                <label class="text-white" for="exampleFormControlInput1"><i class="fas fa-subway"></i> Hospital Distance : @item.Distance</label>
                            </td>*@
                        </tr>
                        <tr >
                            <td colspan="2" class="bg-light text-primary">
                                <span class="col-md-4 text-dark">
                                    Other Facilities :
                                </span>
                                <span class="col-md-1">
                                    <i class="fas fa-wifi"></i>
                                </span>
                                <span class="col-md-1">
                                    <i class="fas fa-tv"></i>
                                </span>
                                <span class="col-md-1">
                                    <i class="fas fa-book-reader"></i>
                                </span>
                                <span class="col-md-1">
                                    <i class="fas fa-ambulance"></i>
                                </span>
                                <span class="col-md-1">
                                    <i class="fas fa-phone-volume"></i>
                                </span>
                                <span class="col-md-1">
                                    <button type="button" class="btn btn-link">More Info</button>
                                </span>
                                <span class="col-md-5">
                                    <button type="button" class="btn btn-sm btn-primary w-25 h-5" onclick="location.href='@Url.Action("Doctors", "Home")'">Select Hospital</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}



