@using InterfaceWEBHealthcare.Models.Appoinment;
@model List<Appoinments>;
@{
    ViewData["Title"] = "Privacy Policy";
}





<table class="table table-bordered table-dark" id="tblDataTable">
    <thead class="thead-light">
        <tr>
            <th scope="col">Appoinment Id</th>
            <th scope="col">Appoinment Date</th>
            <th scope="col">Status</th>
            <th scope="col">Time</th>
            <th colspan="2" class="text-md-center">Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="trData">
            <th scope="row"><span class="pd-CourseId text-primary">@item.AppoinmentsID</span></th>
            <td><span class="pd-CourseTypeId">@item.AppoinmentDate</span></td>
            <td><span class="pd-CourseCode">@item.AppoinmentsStatus</span></td>
            <td><span class="pd-CourseName">@item.TimeSlot</span></td>
            <td>
                <button type="button" class="btnEdit btn btn-danger btn-sm" name="btnEdit" id="btnEdit">Cancell Appoinment</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm" @*onclick="location.href='@Url.Action("Delete", "Course",new { Id = item.CourseId })'"*@>View Full Details</button>
            </td>
        </tr>
        }
    </tbody>
</table>